# stocks summary

### contents
1. stock info
>    1.1. stock list
>    + 
>    1.2. ok

In [6]:
import os, sys
sys.path.insert(0, r'data2/personal/jupyters/stock')
import numpy as np
import pandas as pd
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

import akshare as ak
import baostock as bs
import tushare as tu

import mplfinance as mplf
import ipywidgets.widgets as widgets
from matplotlib.pyplot import *

# 1. 股票信息

## 1.1 股票列表

+ akshare

In [7]:
import mplfinance as mplf
import stock_data as StockData
from stock_data.akshare_stock_data import akshare_stock


data_source_types = ['all', 'akshare', 'baostock', 'tushare', 'tusharepro']

data_source_dropdown = widgets.Dropdown(options=data_source_types)
bounded_num = widgets.BoundedFloatText(
    min=0,
    max=100000,
    value=5,
    step=1
)
stock_list_button = widgets.Button(description="股票列表")
display(data_source_dropdown)
display(bounded_num)
display(stock_list_button)

output = widgets.Output()
display(output)

# 我们将事件处理程序修改为调用common_filtering函数并传递更改。新值以及其他下拉框的当前值：
def data_source_eventhandler(change):
    print(f'[data_source_eventhandler] {change}')
def bounded_num_eventhandler(change):
        print(f'[bounded_num_eventhandler] {change}')
# @output.capture()
def on_button_clicked(btn_obj):
#     with output:
    print(f'[bounded_num_eventhandler] {btn_obj.description}')
    data_source_type = data_source_dropdown.value
    if data_source_type == 'akshare':
        dict_stock_list = akshare_stock.stock_ahgu_gupiaozidian()
    elif data_source_type == 'baostock':
        pass
    elif data_source_type == 'tushare':
        pass
    elif data_source_type == 'tusharepro':
        pass
    else:
        pass
    with output:
        output.clear_output()
        df_stock_list = pd.DataFrame({'ts_code': dict_stock_list.keys(), 'name':dict_stock_list.values()})
        display(df_stock_list)
#         df.plot(df_stock_list)
        show()
stock_list_button.on_click(on_button_clicked)
data_source_dropdown.observe(data_source_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

Dropdown(options=('all', 'akshare', 'baostock', 'tushare', 'tusharepro'), value='all')

BoundedFloatText(value=5.0, max=100000.0, step=1.0)

Button(description='股票列表', style=ButtonStyle())

Output()

In [16]:
dict_stock_list = akshare_stock.stock_ahgu_gupiaozidian()
# dict_stock_list

100%|██████████| 7/7 [00:00<00:00, 10.28it/s]

In [20]:
# df_stock_list = pd.DataFrame(dict_stock_list, columns=['ts_code', 'name'])
df_stock_list = pd.DataFrame({'ts_code': dict_stock_list.keys(), 'name':dict_stock_list.values()})
df_stock_list

    ts_code     name
0     06185  康希诺生物-B
1     01211    比亚迪股份
2     02359     药明康德
3     03347     泰格医药
4     06127     昭衍新药
..      ...      ...
126   00991     大唐发电
127   02880     辽港股份
128   01033    中石化油服
129   00042     东北电气
130   06116     拉夏贝尔

[131 rows x 2 columns]

In [10]:
data = {
        '性别':['男','女','女','男','男'],
        '姓名':['小明','小红','小芳','大黑','张三'],
        '年龄':[20,21,25,24,29]}
# df = pd.DataFrame(data,index=['one','two','three','four','five'],
#                columns=['姓名','性别','年龄','职业'])
df = pd.DataFrame(data, columns=['姓名','性别','年龄','职业'])
df

   姓名 性别  年龄   职业
0  小明  男  20  NaN
1  小红  女  21  NaN
2  小芳  女  25  NaN
3  大黑  男  24  NaN
4  张三  男  29  NaN

In [3]:
accordion = widgets.Accordion(children=[widgets.IntSlider(), widgets.Text()])
accordion.set_title(0, '滑块')
accordion.set_title(1, '文本')
accordion

Accordion(children=(IntSlider(value=0), Text(value='')), _titles={'0': '滑块', '1': '文本'})

In [5]:
tab_contents = ['基本', '股池', '买策', '卖策', '选股']
children = [widgets.Text(description=name) for name in tab_contents]
tab = widgets.Tab()
tab.children = children
for index,i in enumerate(tab_contents):
    tab.set_title(index,i)  # 需要索引与值两个参数
tab

Tab(children=(Text(value='', description='基本'), Text(value='', description='股池'), Text(value='', description='…